apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  labels:
    app: squash-client
  name: squash-client
spec:
  template:
    metadata:
      labels:
        app: squash-client
    spec:
      hostPID: true
      containers:
      - name: squash-client
        image: {{.Repo}}/squash-client:{{.Version}}
        volumeMounts:
        - mountPath: /var/run/cri.sock
          name: crisock
        securityContext:
          privileged: true
        ports:
        - containerPort: 1234
          protocol: TCP
        env:
        - name: SERVERURL
          value: "http://$(SQUASH_SERVER_SERVICE_HOST):$(SQUASH_SERVER_SERVICE_SERVICE_PORT)"
        - name: HOST_ADDR
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
      volumes:
      - name: crisock
        hostPath:
          path: /var/run/dockershim.sock