target/
_output/
.idea/
*.iml

*.DS_STORE

vendor/*

# temporary builds
*.out

site/

.vscode/*
contrib/example/service2-java/.vscode/

editor/vscode/binaries/

# temp java example files
contrib/example/service2-java/.classpath
contrib/example/service2-java/.project
contrib/example/service2-java/.settings/

# temp go example files
contrib/example/service1/.vscode/settings.json

# helm
install/squash.yaml